
.preload {
    display: none;
}

.header h1 {
}
.Prototypes{
    position:absolute;
    text-align:center;
    top:0;
    display:table-cell;
    vertical-align:middle;
    width:50%;
}
.Prototypes-image-container{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width:100%;
    height: 75%;

    background:url("../../pictures/app.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}
@media(max-height:570px){
    .Prototypes{
        display:none;
        position:absolute;
    }
}
@media(max-width:800px){
    .Prototypes{
        display:none;
        position:absolute;
    }
}
.Explainer {
    width: 600px;
    position: absolute;
    top: 20%;
    transform: rotate(-7deg);
    right: 0px;
    z-index: 999;
}
.Explainer h1 {
    font-size: 50px;
    color: white;
    text-shadow:
            -.5px -.5px 0 #000,
            .51px -.5px 0 #000,
            -.5px .5px 0 #000,
            .5px .5px 0 #000;

}

.Explainer h2 {
    font-size: 35px;
    color: white;
    text-shadow:
            -.5px -.5px 0 #000,
            .51px -.5px 0 #000,
            -.5px .5px 0 #000,
            .5px .5px 0 #000;

}
.Explainer button{
    width:500px;
    height:50px;
    background:#695DC4;
    color:white;
    font-size:30px;
    border:none;
}
@media (max-width:600px){
    .Explainer{
        width:320px;
    }
    .Explainer h1{
        font-size:30px;
    }
    .Explainer h2{
        font-size:20px;
    }
    .Explainer button{
        width:300px;
        font-size:20px;
    }
}
@media(max-width:400px){
    .Explainer{
        width:320px;
        margin-top:25%;
    }
}
@media (max-width:321px){
    .Explainer{
        width:250px;
    }
    .Explainer h1{
        font-size:25px;
    }
    .Explainer h2{
        font-size:15px;
    }
    .Explainer button{
        width:200px;
        font-size:15px;
    }
}
.Home-sidebar {
    margin-top: 90%;
    height: 50px;
    position: absolute;
    left: 20px;
    bottom: 5px;
    z-index: 2;
}

.parallax {
    /* The image used */
    min-height: 600px;
    width: 100%;
    display: table;
}

@media (max-width: 500px) {

    .Home-sidebar {
        display: none;
    }
    .Explainer{
        margin-right:7%;
    }
}
@media (max-width: 400px) {

    .Explainer{
        margin-right:4%;
    }
}