@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
.fa-bars {
    background: #191919;
}
nav {
    text-align: right;
    z-index: 1000;
    position:fixed;
    top: 0;
    width:100%;
    padding: 20px;
    background-color: #ffcd1a;
    overflow: hidden;
    opacity: .99;
}

nav .navbar-item {
    color: white;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
}
nav .navbar-item:visited {
    color: white;
}
nav .navWide {
    display: none;
    margin: 0 auto;
}
nav .navWide .wideDiv {
    text-align: right;
}
nav .navWide .wideDiv .navbar-item {
    text-decoration: none;
    display: inline-block;
    padding: 0 2em;
}
nav .navNarrow i {
    float: left;
    cursor: pointer;
    color: white;
}
nav .navNarrow .narrowLinks {
    display: none;
}
nav .navNarrow .narrowLinks .navbar-item {
    text-decoration: none;
    display: block;
    float: left;
    clear: left;
    font-family: 'Quicksand', sans-serif;
    padding: 5vh 0;
}
.navbar-home {
    text-decoration: none;
    color: white;
    padding:20px;
    font-family: 'Nanum Gothic', sans-serif;
    margin-right: 50px;
    font-size: 25px;
}
.navbar-home-min{
    font-family: 'Nanum Gothic', sans-serif;
    color: white
}
.navbar-social{
}
@media (min-width: 840px) {
    nav .navWide {
        display: block;
    }
    nav .navNarrow {
        display: none;
    }
}
